<!-- ejs : 단순 출력 부분(JSP와 같은 역할)-->
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>index.ejs</h1>
	str : <%=str%><br />
	number : <%=number%><br />
	date : <%=date%><br />
    
    <a href="test">test</a>
</body>
</html>